<a href="https://colab.research.google.com/github/bismahashim/Assignment/blob/main/Assignment_Q20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import norm

In [4]:
cars=pd.read_csv('Cars.csv')

In [5]:
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [7]:
cars.MPG.describe()

count    81.000000
mean     34.422076
std       9.131445
min      12.101263
25%      27.856252
50%      35.152727
75%      39.531633
max      53.700681
Name: MPG, dtype: float64

In [8]:
cars.MPG.mean()

34.422075728024666

In [9]:
cars.MPG.std()

9.131444731795982

In [11]:
# P(MPG>38)
1-stats.norm.cdf(38,cars.MPG.mean(),cars.MPG.std())

0.3475939251582705

In [12]:
# P(MPG<40)
stats.norm.cdf(40,cars.MPG.mean(),cars.MPG.std())

0.7293498762151616

In [14]:
# P (20<MPG<50)
stats.norm.cdf(50,cars.MPG.mean(),cars.MPG.std())-stats.norm.cdf(20,cars.MPG.mean(),cars.MPG.std())

0.8988689169682046