<a href="https://colab.research.google.com/github/bismahashim/Assignment/blob/main/Assignment_SVM_forestfire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [3]:
fire=pd.read_csv('/content/forestfires (1).csv')

In [4]:
fire

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,1,0,0,small

In [5]:
fire.shape

(517, 31)

In [6]:
fire.info

<bound method DataFrame.info of     month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  ...  monthfeb  \
0     mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0  ...         0
1     oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0  ...         0
2     oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0  ...         0
3     mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2  ...         0
4     mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0  ...         0
..    ...  ...   ...    ...    ...   ...   ...  ..   ...   ...  ...       ...
512   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0  ...         0
513   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  ...         0
514   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  ...         0
515   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0  ...         0
516   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0  ...         0

     monthjan  monthjul  monthjun  monthmar  monthmay  monthnov  monthoct  \
0           0         0         0         1         0         0         0
1           0         0         0         0         0         0         1
2           0         0         0         0         0         0         1
3           0         0         0         1         0         0         0
4           0         0         0         1         0         0         0
..        ...       ...       ...       ...       ...       ...       ...
512         0         0         0         0         0         0         0
513         0         0         0         0         0         0         0
514         0         0         0         0         0         0         0
515         0         0         0         0         0         0         0
516         0         0         0         0         0         1         0

     monthsep  size_category
0           0          small
1           0          small
2           0          small
3           0          small
4           0          small
..        ...            ...
512         0          large
513         0          large
514         0          large
515         0          small
516         0          small

[517 rows x 31 columns]>

In [7]:
fire.describe()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292,0.164410,...,0.017408,0.038685,0.003868,0.061896,0.032882,0.104449,0.003868,0.001934,0.029014,0.332689
std,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818,0.371006,...,0.130913,0.193029,0.062137,0.241199,0.178500,0.306138,0.062137,0.043980,0.168007,0.471632
min,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
fire.corr()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
FFMC,1.000000,0.382619,0.330512,0.531805,0.431532,-0.300995,-0.028485,0.056702,0.040122,0.019306,...,-0.137044,-0.281535,-0.454771,0.031833,-0.040634,-0.074327,-0.037230,-0.088964,-0.005998,0.076609
DMC,0.382619,1.000000,0.682192,0.305128,0.469594,0.073795,-0.105342,0.074790,0.072994,-0.012010,...,-0.176301,-0.317899,-0.105647,-0.001946,-0.050403,-0.407404,-0.081980,-0.074218,-0.187632,0.110907
DC,0.330512,0.682192,1.000000,0.229154,0.496208,-0.039192,-0.203466,0.035861,0.049383,-0.004220,...,-0.105642,-0.399277,-0.115064,-0.100887,-0.186183,-0.650427,-0.114209,-0.078380,0.093279,0.531857
ISI,0.531805,0.305128,0.229154,1.000000,0.394287,-0.132517,0.106826,0.067668,0.008258,0.046695,...,-0.162322,-0.249777,-0.103588,0.020982,0.111516,-0.143520,-0.060493,-0.076559,-0.071154,-0.068877
temp,0.431532,0.469594,0.496208,0.394287,1.000000,-0.527390,-0.227116,0.069491,0.097844,-0.071949,...,-0.329648,-0.320015,-0.146520,0.142588,0.051015,-0.341797,-0.045540,-0.053798,-0.053513,0.088006
RH,-0.300995,0.073795,-0.039192,-0.132517,-0.527390,1.000000,0.069410,0.099751,-0.075519,0.064506,...,-0.047714,0.140430,0.170923,0.013185,0.009382,-0.089836,0.086822,-0.035885,-0.072334,-0.062596
wind,-0.028485,-0.105342,-0.203466,0.106826,-0.227116,0.069410,1.000000,0.061119,0.012317,0.118090,...,0.269702,-0.029431,-0.070245,-0.040645,0.012124,0.181433,0.015054,0.011864,-0.053850,-0.181476
rain,0.056702,0.074790,0.035861,0.067668,0.069491,0.099751,0.061119,1.000000,-0.007366,-0.004261,...,-0.009752,-0.014698,-0.004566,-0.013390,-0.013510,-0.020744,-0.004566,-0.003225,-0.012665,-0.051733
area,0.040122,0.072994,0.049383,0.008258,0.097844,-0.075519,0.012317,-0.007366,1.000000,-0.052911,...,0.001010,-0.020732,-0.012589,0.006149,-0.020314,-0.045596,0.006264,-0.008893,-0.016878,0.056573
dayfri,0.019306,-0.012010,-0.004220,0.046695,-0.071949,0.064506,0.118090,-0.004261,-0.052911,1.000000,...,-0.019140,0.046323,-0.027643,-0.048969,0.006000,0.036205,0.056423,-0.019527,-0.045585,0.107671
daymon,-0.059396,-0.107921,-0.052993,-0.158601,-0.136529,0.009376,-0.063881,-0.029945,-0.021206,-0.181293,...,0.114519,0.003933,-0.025470,-0.013300,0.017553,0.077125,-0.025470,-0.017992,0.060975,0.039632
daysat,-0.019637,-0.003653,-0.035189,-0.038585,0.034899,-0.023869,-0.063799,-0.032271,0.087868,-0.195372,...,-0.058625,0.020406,0.057019,0.060945,-0.022408,0.021024,0.057019,-0.019390,0.017584,-0.032783
daysun,-0.089517,0.025355,-0.001431,-0.003243,0.014403,0.136220,0.027981,-0.017872,-0.020463,-0.210462,...,-0.024966,0.008416,0.050887,-0.018241,0.024540,-0.047726,-0.029568,-0.020887,0.007252,-0.048817
daythu,0.071730,0.087672,0.051859,-0.022406,0.051432,-0.123061,-0.062553,-0.026798,0.020121,-0.162237,...,-0.002838,-0.042278,-0.022793,-0.019300,-0.000195,-0.026885,-0.022793,-0.016101,-0.063223,0.008984
daytue,0.011225,0.000016,0.028368,0.068610,0.035630,-0.014211,0.053396,0.139311,-0.001333,-0.166728,...,-0.005125,-0.014491,-0.023424,0.049688,-0.069308,-0.032351,-0.023424,0.117121,0.005008,-0.028570
daywed,0.093908,0.017939,0.024803,0.125415,0.090580,-0.087508,-0.019965,-0.020744,-0.011452,-0.151487,...,0.002899,-0.035713,-0.021282,-0.008985,0.043422,-0.033917,-0.021282,-0.015034,0.016325,-0.053222
monthapr,-0.117199,-0.197543,-0.268211,-0.106478,-0.157051,0.021235,0.048266,-0.009752,-0.008280,-0.019140,...,-0.017717,-0.026701,-0.008295,-0.034190,-0.024543,-0.045456,-0.008295,-0.005860,-0.023008,-0.093982
monthaug,0.228103,0.497928,0.279361,0.334639,0.351404,0.054761,0.028577,0.093101,-0.004187,-0.100837,...,-0.098941,-0.149116,-0.046323,-0.190937,-0.137065,-0.253859,-0.046323,-0.032724,-0.128493,-0.524858
monthdec,-0.137044,-0.176301,-0.105642,-0.162322,-0.329648,-0.047714,0.269702,-0.009752,0.001010,-0.019140,...,1.000000,-0.026701,-0.008295,-0.034190,-0.024543,-0.045456,-0.008295,-0.005860,-0.023008,-0.093982
monthfeb,-0.281535,-0.317899,-0.399277,-0.249777,-0.320015,0.140430,-0.029431,-0.014698,-0.020732,0.046323,...,-0.026701,1.000000,-0.012501,-0.051528,-0.036989,-0.068508,-0.012501,-0.008831,-0.034676,-0.141642
monthjan,-0.454771,-0.105647,-0.115064,-0.103588,-0.146520,0.170923,-0.070245,-0.004566,-0.012589,-0.027643,...,-0.008295,-0.012501,1.000000,-0.016007,-0.011491,-0.021282,-0.003883,-0.002743,-0.010772,-0.044001
monthjul,0.031833,-0.001946,-0.100887,0.020982,0.142588,0.013185,-0.040645,-0.013390,0.006149,-0.048969,...,-0.034190,-0.051528,-0.016007,1.000000,-0.047363,-0.087722,-0.016007,-0.011308,-0.044402,-0.181367
monthjun,-0.040634,-0.050403,-0.186183,0.111516,0.051015,0.009382,0.012124,-0.013510,-0.020314,0.006000,...,-0.024543,-0.036989,-0.011491,-0.047363,1.000000,-0.062972,-0.011491,-0.008117,-0.031874,-0.130195
monthmar,-0.074327,-0.407404,-0.650427,-0.143520,-0.341797,-0.089836,0.181433,-0.020744,-0.045596,0.036205,...,-0.045456,-0.068508,-0.021282,-0.087722,-0.062972,1.000000,-0.021282,-0.015034,-0.059034,-0.241135
monthmay,-0.037230,-0.081980,-0.114209,-0.060493,-0.045540,0.086822,0.015054,-0.004566,0.006264,0.056423,...,-0.008295,-0.012501,-0.003883,-0.016007,-0.011491,-0.021282,1.000000,-0.002743,-0.010772,-0.044001
monthnov,-0.088964,-0.074218,-0.078380,-0.076559,-0.053798,-0.035885,0.011864,-0.003225,-0.008893,-0.019527,...,-0.005860,-0.008831,-0.002743,-0.011308,-0.008117,-0.015034,-0.002743,1.000000,-0.007610,-0.031083
monthoct,-0.005998,-0.187632,0.093279,-0.071154,-0.053513,-0.072334,-0.053850,-0.012665,-0.016878,-0.045585,...,-0.023008,-0.034676,-0.010772,-0.044402,-0.031874,-0.059034,-0.010772,-0.007610,1.000000,-0.122053
monthsep,0.076609,0.110907,0.531857,-0.068877,0.088006,-0.062596,-0.181476,-0.051733,0.056573,0.107671,...,-0.093982,-0.141642,-0.044001,-0.181367,-0.130195,-0.241135,-0.044001,-0.031083,-0.122053,1.000000

In [11]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()

In [12]:
fire.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [14]:
fire.drop(["month","day"],axis=1,inplace =True)

In [15]:
fire.head()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,1,...,0,0,0,0,1,0,0,0,0,small
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0,...,0,0,0,0,0,0,0,1,0,small
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,0,...,0,0,0,0,0,0,0,1,0,small
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,1,...,0,0,0,0,1,0,0,0,0,small
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,0,...,0,0,0,0,1,0,0,0,0,small

In [17]:
X = fire.iloc[:,0:28]
Y = fire.iloc[:,28]

In [18]:
X.head()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,1,...,0,0,0,0,0,1,0,0,0,0
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0,...,0,0,0,0,0,0,0,0,1,0
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,0,...,0,0,0,0,0,0,0,0,1,0
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,1,...,0,0,0,0,0,1,0,0,0,0
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,0,...,0,0,0,0,0,1,0,0,0,0

In [19]:
Y.head()

0    small
1    small
2    small
3    small
4    small
Name: size_category, dtype: object

In [20]:
def norm_func(i):
    x= (i-i.min())/(i.max()-i.min())
    return (x)

In [21]:
fires = norm_func(X)

In [22]:
fires

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,0.811613,0.191592,0.771315,0.033868,0.823151,0.200000,0.255556,0.00000,0.005904,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
513,0.811613,0.191592,0.771315,0.033868,0.633441,0.658824,0.600000,0.00000,0.049769,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
514,0.811613,0.191592,0.771315,0.033868,0.610932,0.647059,0.700000,0.00000,0.010231,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515,0.976774,0.499311,0.711622,0.201426,0.752412,0.317647,0.400000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
516,0.784516,0.006547,0.115867,0.019608,0.308682,0.188235,0.455556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [24]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.25, stratify = Y)

In [25]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((387, 28), (387,), (130, 28), (130,))

In [27]:
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[0.5,0.1,0.01],'C':[10,0.1,0.001,0.0001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(x_train,y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [10, 0.1, 0.001, 0.0001],
                          'gamma': [0.5, 0.1, 0.01], 'kernel': ['rbf']}])

In [28]:
gsv.best_params_ , gsv.best_score_

({'C': 10, 'gamma': 0.01, 'kernel': 'rbf'}, 0.7647773279352227)

In [31]:
clf = SVC(C= 15, gamma = 100)
clf.fit(x_train , y_train)
y_pred = clf.predict(x_test)
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, y_pred)

Accuracy = 73.07692307692307

array([[ 0, 35],
       [ 0, 95]])